{{ define "main" }}
<h1>{{ .Title }}</h1>

    {{ .Content }}
    <div class="inner">
        {{ range (.Site.RegularPages.GroupByDate "January 2006")  }}
        {{ if (where .Pages "Section" "blog") }}
<h2 class="archive-title">{{ .Key }}</h2>
            <ul class="no-bullet archive-list">
                {{ range ((where .Pages "Section" "blog")) }}
                    <li>
                         
                        <a href="{{ .RelPermalink }}">{{ .PublishDate.Format "Jan 02" }} : {{ .Title }}{{ if .Params.subheadline }} ({{ .Params.subheadline }}){{ end }}{{ if (.Draft ) }}  - DRAFT {{ end }}</a>
                    </li>
                {{ end }}

                </ul>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}
