
# This will be your default build command
[build]
publish = "public"
command = "hugo --environment production --gc --minify"

[build.environment]
HUGO_VERSION = "0.111.3"
HUGO_ENABLEGITINFO = "true"
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --environment preview --gc --minify -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.139.3"
HUGO_ENV = "preview"

[context.staging]
command = "hugo --environment staging --gc --minify -b $DEPLOY_PRIME_URL"

[context.staging.environment]
HUGO_VERSION = "0.139.3"
HUGO_ENV = "staging"
