<div class="medium-4 columns frontpage-widget">
	{% capture widget_url %}{% if include.widget.url contains 'http' %}{{ include.widget.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ include.widget.url }}{% endif %}{% endcapture %}
	{% if include.widget.video %}
	    {% capture widget_video_image %}{% if include.widget.video.image.name contains 'http' %}{{ include.widget.video.image.name }}{% else %}{{ site.urlimg }}{{ include.widget.video.image.name }}{% endif %}{% endcapture %}
	
		<a href="#" data-reveal-id="{{ include.widget.video.id"><img src="{{ widget_video_image }}" width="{{ include.widget.video.image.width }}" height="{{ include.widget.video.image.height }}" alt=""/></a>
<div id="{{ include.widget.video.id" class="reveal-modal large" data-reveal="">
  <div class="flex-video widescreen vimeo" style="display: block;">
    <iframe width="{{ include.widget.video.width }}" height="{{ include.widget.video.height }}" src="{{ include.widget.video.url }}" frameborder="0" allowfullscreen></iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
	{% else %}
		<a href="{{ widget_url }}">
			{% if include.widget.image %}
				{%comment%}TODO lazy loading{%endcomment%}
				{%comment%}<img class="lazy" data-src="{% if include.widget.image contains='http://' %}{{ include.widget.image }}{% else %}{{ site.urlimg }}{{ include.widget.image }}{% endif %}" alt="" />{%endcomment%}
				{%comment%}<noscript>{%endcomment%}
				{% capture widget_image %}{% if include.widget.image contains 'http' %}{{ include.widget.image }}{% else %}{{ site.urlimg }}{{ include.widget.image }}{% endif %}{% endcapture %}
				<img src="{{widget_image}}" alt="" />
				{%comment%}</noscript>{%endcomment%}
			{% endif %}
		</a>
	{% endif %}
	<h2 class="font-size-h3 t10">{{ include.widget.title }}</h2>
	<p>{{ include.widget.text }}</p>
	<p><a class="button tiny radius" href="{{ widget_url }}">{{ site.data.language.more }}</a></p>
</div>