<nav id="pagination">
    {% if page.previous.url %}
    <a rel="prev" class="small-12 radius button small" href="{{ site.baseurl }}/{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}

    <a class="small-12 radius button small" href="{{ site.baseurl }}/blog/archive/" title="Blog {{ site.data.language.archive }}">{{ site.data.language.archive }}</a>

    {% if page.next.url %}
    <a rel="next" class="small-12 radius button small" href="{{ site.baseurl }}/{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</nav>
