<div id="page-meta" class="t30">
	<p>
		<!-- Look the author details up from the site config. -->
		{% assign author = site.data.authors[page.author] %}
		<!-- Output author details if some exist. -->
		{% if author %}
		<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20 icon-edit"><a href="{{ author.uri }}" target="_blank"> {{ author.name }}</a></span>
		</span>
		{% endif %} 
		
		{% if page.date %}
		<a href="{{ site.baseurl }}/blog/archive/#{{ page.date | date: " %Y-%m " }}">
			<span class="icon-calendar pr5"></span><time class="pr20" datetime="{{ page.date | date: " %Y-%m-%d " }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
		</a>
		{% endif %} 
		

		{% if page.categories.size > 0 %}
		
{% capture tags_content %} <span class="icon-archive pr5"></span><span class="pr20">Posted In: {% endcapture %}
{% assign categories = page.categories | sort %}

{% for category in categories %}
      {% capture tags_content_temp %}{{ tags_content }}{% if forloop.last == true and page.categories.size > 1 %} and {% endif %}
	  <a href="{{site.baseurl}}/blog/archive/categoryview/#{{ category | slugify }}">{{ category | replace: '-', ' ' }}</a>{% if forloop.last == false and page.categories.size > 2 %}, {% endif %}{% endcapture %}
      {% assign tags_content = tags_content_temp %}
{% endfor %}
{% else %}
{% assign tags_content = '' %}
{% endif %}
		<span class="pr20">{{tags_content}}</span>
	</p>

</div>
<!--  /.page-meta -->