{% assign tags = site.categories | sort %}
{% assign baseurl = include.baseurl %}
{% assign increaseFont = include.tagCloud %}

<div id="category-index" class="row">
	<div class="small-12 columns t30">
        <div class="tagcloud03">
            <ul{% if increaseFont %} class="cloud"{% endif %}>{% for tag in tags %}<li><a href="{{baseurl}}#{{ tag | first | slugify }}" {% if increaseFont %}style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%"{% endif %}>{{ tag | first | replace: '-', ' ' }}{% unless increaseFont %}<span>{{ tag | last | size }}</span>{% endunless %}</a></li>{% endfor %}</ul>
        </div><!-- /.tagcloud03 -->
    </div><!-- /.small-12.columns -->
</div><!-- /.row -->