@charset "utf-8";

/* TOC

- Table of Contents (Index)
- Panel
- Shadows
- Alerts
- Breadcrumb
- Button
- Side-Nav
- Accordion
- Lazy Load XT
- Frontpage Widget
- Badge
- TagCloud
- Contact Form
- Sharer
- images
*/

.row {
    max-width: 80rem !important;
}


/* Table of Contents (Index)
------------------------------------------------------------------- */

#toc ul,
#toc ul ul,
#toc ul ul ul,
{
    list-style: none;
    margin-left: 30px;
}

#toc ul {
    margin-left: 0;
    margin-top: $spacing-unit;
}


/* Panel
------------------------------------------------------------------- */

.border-dotted {
    border: 1px dotted $grey-5;
    padding: rem-calc(20);
    border-radius: $global-radius;
}


/* Shadows
------------------------------------------------------------------- */

.shadow-no {
    text-shadow: rgba(0, 0, 0, 0) 0 0 0;
}

.shadow-black {
    text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
}

.shadow-white {
    text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 2px;
}


/* Alerts
------------------------------------------------------------------- */

.alert-box {
    font-family: $font-family-sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
}

.alert-box p {
    margin-bottom: 0;
}

.alert-box a {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.alert-box a:hover {
    border-bottom: 1px solid #fff;
}

.alert-box.terminal {
    background: $grey-12;
    color: #fff;
    border-color: scale-color($grey-12, $lightness: -14%);
    font-family: $font-family-monospace;
}

.alert-box.terminal::before {
    content: "$ ";
    color: $ci-6;
    float: left;
    margin: .25em .5em 0 0;
}

.alert-box.text {
    background-color: $grey-2;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.9);
    border-color: scale-color($grey-2, $lightness: -14%);
    color: $grey-12;
}


/* Button
------------------------------------------------------------------- */

button,
.button {
    letter-spacing: 1px;
}

button.grey,
.button.grey {
    background: $grey-10;
}

button.grey:hover,
button.grey:focus,
.button.grey:hover,
.button.grey:focus {
    background-color: $grey-16;
}


/* Side-Nav
------------------------------------------------------------------- */

.side-nav li {
    border-top: 1px solid $grey-3;
    .title {
        text-transform: uppercase;
    }
    a:not(.button) {
        border-bottom: 0;
        padding: 0.4375rem 0rem;
    }
    a:not(.button):hover,
    a:not(.button):focus {
        background: $grey-1;
    }
}

.series-nav {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid $grey-2;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    // .side-nav li {
    //     border-top: none !important;
    // }
    .side-nav li.current {
        color: rgb(51, 77, 92);
        padding: 0.4375rem 0rem;
    }
}


.homepage p {
    margin: 0;
    padding: 0;
    color: $grey-10;
}


/* Accordion
------------------------------------------------------------------- */

dl.accordion {
    border-top: 1px solid $grey-2;
}

.accordion dd {
    border-bottom: 1px solid $grey-2;
}

dd.accordion-navigation span {
    padding-right: 12px;
}

dd.accordion-navigation span:before {
    content: "\F107"
}

dd.accordion-navigation.active span:before {
    content: "\F105"
}

dd.accordion-navigation.active span:before {
    content: "\F105"
}


/* Lazy Load XT
------------------------------------------------------------------- */


/*! Lazy Load XT v1.0.6 2014-11-19
 * http://ressio.github.io/lazy-load-xt
 * (C) 2014 RESS.io
 * Licensed under MIT */

img.lazy {
    display: none;
}

.lazy-hidden {
    opacity: 0;
}

.lazy-loaded {
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -ms-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
    opacity: 1;
}


/* Badge
------------------------------------------------------------------- */

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
}


/* Tag Cloud
------------------------------------------------------------------- */

.tagcloud03 {
    margin-bottom: 75px;
    ul.cloud {
        li {
            // height: inherit;
            margin: 0;
            a {
                padding: 0 1em 0 1em;
                border: none !important;
                height: 40px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 .3em .3em 0;
            padding: 0;
            a {
                position: relative;
                display: inline-block;
                max-width: 250px;
                height: 28px;
                line-height: 28px;
                padding: 0 2.5em 0 1em;
                background-color: #fff;
                border: 1px solid #aaa;
                border-radius: 3px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #333;
                font-size: 13px;
                text-decoration: none;
                -webkit-transition: .2s;
                transition: .2s;
                &:hover {
                    background-color: #3498db;
                    border: 1px solid #3498db;
                    color: #fff;
                    span {
                        background-color: #fff;
                        color: #3498db;
                    }
                }
            }
            span {
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 2;
                width: 17px;
                height: 17px;
                line-height: 1;
                background-color: #777; // #3498db;
                border-radius: 100%;
                color: #fff;
                font-size: 10px;
                padding: 3px;
                text-align: center;
                -webkit-transition: .2s;
                transition: .2s;
            }
        }
    }
}


/* Contact Form */

#contactform,
.form {
    margin-top: 2rem;
    .input {
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
        /* for box shadows to show on iOS */
        width: 100%;
        background: transparent;
        padding: 0.5em;
        margin-bottom: 2em;
    }
    textarea {
        width: 100%;
        height: 150px;
    }
    .input:focus {
        outline: none;
    }
    .label {
        color: hsla(221, 72%, 55%, 1);
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
        text-align: left;
        padding: 0.5em 0;
        font-size: 1em;
    }
    .label-content {
        width: 100%;
        padding: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transition: -webkit-transform 0.3s, color 0.3s;
        transition: transform 0.3s, color 0.3s;
    }
    .button,
    input[type=submit] {
        -webkit-appearance: none;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5em;
        color: #fff;
        background-color: hsla(221, 72%, 55%, 1);
        transition: all 0.3s ease-out;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    }
    .button:hover,
    .button:focus,
    .button:active {
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.20);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.20);
    }
}


/* Sharer */

@media print {
    @page {
        margin: 0.32in;
    } // TODO https://github.com/zurb/foundation/issues/6834
    #navigation,
    #masthead,
    #masthead-with-pattern,
    #masthead-with-background-color,
    #masthead-with-text,
    #masthead-no-image-header,
    .breadcrumbs,
    .sidebar,
    #post-nav,
    #sharer,
    #pagination,
    #up-to-top,
    #footer-content,
    #footer,
    #subfooter {
        display: none !important;
    }
}

#sharer {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: $paragraph-margin-bottom;
    .share-block {
        padding: 0.25em !important;
        .share-link {
            display: block;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 10px;
        }
        a:after {
            content: ''
        }
    }
    .share-link.share-twitter {
        background-color: #00aced;
        color: white
    }
    .share-link.share-twitter:hover {
        color: #baecff
    }
    .share-link.share-email {
        background-color: #777777;
        color: white
    }
    .share-link.share-email:hover {
        color: #ddd
    }
    .share-link.share-googleplus {
        background-color: #d34836;
        color: white
    }
    .share-link.share-googleplus:hover {
        color: #f8e0dd
    }
    .share-link.share-facebook {
        background-color: #3B5998;
        color: white
    }
    .share-link.share-facebook:hover {
        color: #bbc8e4
    }
}


/* Images */

p.solidborder {
    img {
        border: 1px solid $grey-16;
    }
}

p.dashedborder {
    img {
        border: 1px dashed $grey-16;
    }
}