---
---
/* content */
#workshop {
    #paginate {
        display: flex;
        justify-content: space-between;
        margin: 1.2em 0;
        border-top: 1px dashed #d2d2d2;
        clear: both;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    h1 {
        font-size: 2em;
    }
    h3,
    .fake-h2 {
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.43;
        margin-bottom: 1.35em;
        margin-top: 1.35em;
        border-top: 1px dashed #d2d2d2;
    }
    h2,
    .fake-h2 {
        font-style: italic;
        //text-align: center;
        font-weight: 800;
        font-size: 1.4em;
        margin-top: 1.8em;
        margin-bottom: 1em;
        border-top: 2px solid #d2d2d2;
        .description {
            font-size: 1.4em;
            font-style: italic;
            text-align: center;
            margin-top: -0.3em;
        }
    }
    

    ol,
    ul {
        margin: 0 1.4em 1.4em 1.4em;
    }
    li {
        margin-bottom: 0.5em;
    }
    hr {
        border: 0;
        border-top: 1px dashed #d2d2d2;
        height: 0;
        margin: 1.6em 0;
    }
    .post-title {
        img {
            margin-right: .2em;
            vertical-align: middle;
            width: 1.5em;
            height: 1.5em;
        }
        a {
            text-decoration: none;
        }
    }
    sup,
    sup a {
        color: darkgray;
        font-size: .8em;
        vertical-align: baseline;
        top: -0.5em;
        bottom: -0.25em;
        text-decoration: none;
        a:hover {
            text-decoration: underline;
        }
    }
    img {
        vertical-align: middle;
    }
    /* more link */
    div.more-link {
        clear: both;
        margin: 1em 0;
        border-top: none !important;
        a {
            border-radius: 3px;
            padding: .3em .6em;
            transition: background-color .2s ease-out;
            border: 2px solid;
            text-decoration: none;
        }
    }
    #todo {
        clear: both;
        margin-top: 1.8em;
        margin-bottom: 0.8em;
        border: 2px solid red;
        font-weight: 400;
        font-size: .8em;
        #icon {
            height: 75px;
            width: 75px;
            padding: .5em;
        }
        .done {
            text-decoration: line-through;
            color: green;
        }
    }
    .sidebar-lists {
        text-align: left;
        font-size: .675em;
        white-space: nowrap;
        .sidebar-description {
            text-align: left;
            font-style: italic;
            font-weight: 400;
            font-size: 1.4em;
            margin-top: 1.8em;
            margin-bottom: 0.8em;
        }
        .sidebar-items {
            margin: 0;
            text-align: left;
            list-style: none;
        }
    }
    // Adding 'Contents' headline to the TOC
    #markdown-toc {
        border: 1px solid #aaa;
        padding: 1em;
        list-style: none;
        display: inline-block;
    }
}


/* media queries */

@media screen and (max-width: 500px) {
    #workshop {
        .content-wrap {
            width: auto;
            padding: 0 1em;
        }
        .main-copy {
            font-size: .875em;
            padding-bottom: 0;
            text-align: center;
        }
        .sidebar-lists {
            text-align: center;
            font-size: .775em;
            .sidebar-description {
                text-align: center;
            }
            .sidebar-items {
                margin: 0;
                text-align: center;
                list-style: none;
            }
        }
    }
}