---
layout: workshop2
---

<div class="post">
    <p><span class="post-date">Last Updated: {{ page.date | date_to_string }}</span></p>

    {% assign length-size = (page.length | size) %}
    {% if page.length != null and length-size > 0 %}
    <br /><span class="lab-length">Lab Length: {{ page.length }}</span>
    {% endif %}
    {% if page.ishome == null %}
    {% include workshoppaging.html %}
    {% endif %}
    {% include workshoptodo.html %}
    {{ content }}
    {% if page.ishome == null %}
    {% include workshoppaging.html %}
    {% endif %}
</div>